body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row; 
    padding-bottom: 50px;
    background: #1f2937;
}
header{
    font-size: 24px;
    color: #f9faf8;
    background: #1f2937;
    margin-left: 100px;
}
.link{
    display: flex;
    justify-content: end;
    margin-left: auto;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}


.top{
    background:#1f2937
}

.middle{
    background: white;
}

#boxedwater{
    width: auto;
    height: 500px;
}
